<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hdfsoverhttp</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/err404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/err500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>err404</servlet-name>
    <jsp-file>/err404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>err404</servlet-name>
    <url-pattern>/err404.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>err500</servlet-name>
    <jsp-file>/err500.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>err500</servlet-name>
    <url-pattern>/err500.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filelist</servlet-name>
    <jsp-file>/fileList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>filelist</servlet-name>
    <url-pattern>/fileList.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>org.apache.hadoop.fs.hdfsoverhttp.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/.icons/*</url-pattern>
  </servlet-mapping>
</web-app>